<% content_for :content do %>
<div class='content-overlay form-vertical'>
	
<h2>Login</h2>

<%= form_for :session, url: sign_in_path do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="actions">
      <%= f.submit "Log in" %>

      <%= link_to '/users/new',:class=>'btn-send' do %>
        Registrar
      <% end %>
    </div>
  <% end %>

  <% end %>



</div>
