<div class='content-overlay'>
	<h2>Minhas músicas Favoritas</h2>


	<div class=row>
	<% @favoritas.each do |f| %>

	


		<% begin %>
			<% m = f.musica %>
			<% a = m.artista %>

			<span class="col-xs-12 col-sm-9 col-md-6 col-lg-3 block-musica" data-artista="<%= a.to_json %>" data-musica="<%= m.to_json %>">
		        <article class="albuns__item">
		        	<figure class="albuns__image">
		        		<img src="<%= a.thumb %>" alt="<%= a.nome %>">

			        	<a href="javascript:void(0)" class="favorite" onclick="favoritarMusicas(<%= m.id_musica %>,this)">
			        		<span>Favoritar/Desfavoritar música</span>
				        	<svg class="albuns__heart <%= (@musica_favoritas.include?(m.id_musica)) ? 'albuns__heart--favorited' : '' %>" viewBox="-0.709 -11.555 141.732 141.732" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<path d="M140.314,37.654C140.314,16.858,123.402,0,102.537,0c-13.744,0-25.77,7.317-32.379,18.255C63.549,7.317,51.521,0,37.777,0   C16.912,0,0,16.858,0,37.654c0,10.821,4.588,20.57,11.922,27.438h-0.01l54.084,51.584c0.992,1.188,2.48,1.945,4.148,1.945   c1.545,0,2.936-0.653,3.92-1.696l54.346-51.833h-0.016C135.729,58.225,140.314,48.476,140.314,37.654"></path>
							</svg>
			        	</a>
		        	</figure>
					<h3 class="albuns__author"><%= a.nome %></h3>
					<h4 class="albuns__music"><%= m.nome %></h4>
					<button type="button">
						Reproduzir
					</button>
		        </article>
		    </span>


			

		<% rescue Exception %>

		<% end %>


	<% end %>
		

	</div>

	

</div>




