<%= form_for @genero, method: :post, url: admin_generos_save_path do |g| %>

    <h2>Editar/Atualizar Gêneros </h2>
    <%= g.hidden_field :id_genero %>
    <div class="field">
    <%= g.label :nome %>
    <%= g.text_field :nome %>
                    
                            
                </div>
                
                
                <div class="actions">
                            <%= g.submit "Salvar"%>
                            <div class='clearfix'></div>
                </div>
    <% end %>