<%= form_for @artista, method: :post, url: admin_artistas_save_path do |g| %>

    <h2>Editar/Atualizar Gêneros </h2>
    <%= g.hidden_field :id_artista %>
    <div class="field">
        <%= g.label :nome %>
        <%= g.text_field :nome %>
    </div>
    <div class="field">
        <%= g.label :url_thumb %>
        <%= g.text_field :thumb %>
    </div>

    <div class="field">
        <%= g.label :genero %>
        <select name='artista[id_genero]'>
            <option value=''>Selecionar Gênero</option>
            <% @generos.each  do |ge| %>
                <option <%= (@artista.genero != nil && ge.id_genero == @artista.genero.id_genero) ? 'selected="selected"' : '' %> value="<%= ge.id_genero %>"><%= ge.nome %></option>
            <% end%>
        </select>
    </div>
                
                
                <div class="actions">
                            <%= g.submit "Salvar"%>
                            <div class='clearfix'></div>
                </div>
    <% end %>

    <style>
        .content-overlay .field select{
            width: 60%;
            text-align: left;
            display: inline-block;
            padding: 10px 5px;
            border-radius: 5px;
            border: 1px #cccccc solid;
            margin-left: 10px;
        }
    </style>