<%= form_for @musica, method: :post, url: admin_musicas_save_path do |g| %>

    <h2>Editar/Atualizar Gêneros </h2>
    <%= g.hidden_field :id_musica %>
    <div class="field">
    <%= g.label :nome %>
    <%= g.text_field :nome %>
    </div>

    <div class="field">
    <%= g.label :'Url do MP3' %>
    <%= g.text_field :caminho %>
    </div>

    <div class="field">
        <%= g.label :artista %>
        <select name='musica[id_artista]'>
            <option value=''>Selecionar Artista</option>
            <% @artistas.each  do |ge| %>
                <option <%= (@musica.artista != nil && ge.id_artista == @musica.artista.id_artista) ? 'selected="selected"' : '' %> value="<%= ge.id_genero %>"><%= ge.nome %></option>
            <% end%>
        </select>
    </div>

                
                <div class="actions">
                            <%= g.submit "Salvar"%>
                            <div class='clearfix'></div>
                </div>
    <% end %>