<% content_for :content do %>


	<div class='content-overlay'>
		<h2>Estilos Musicais</h2>


		<table>
			<thead>
				<tr>
					<th>
						ID
					</th>
					<th>
						Nome
					</th>
					<th>
						Ação
					</th>
				</tr>
			</thead>

			<tbody>
			<% @generos.each do |g| %>
				<tr>
					<td> <%= g.id_genero %></td>
					<td> <%= g.nome %></td>
					<td> 
						<%= link_to "/admin/generos?id_genero=#{g.id_genero}&acao=editar",:class=>'btn-send' do %>
        					Editar
      					<% end %>
      					 |
      					 <%= link_to "/admin/generos?id_genero=#{g.id_genero}&acao=apagar",:class=>'btn-send' do %>
        					Apagar
      					<% end %>

					</td>
				</tr>
			<% end %>
				
			</tbody>
		</table>

		<%= link_to "/admin/generos" do %>
			Novo Registro
		<% end %>






	</div>

	<div class='content-overlay'>
		<%= render 'form_genero' %>
	</div>




	<style>
	.content-overlay table {
	    border-collapse: collapse;
	    width: 100%;
	}

	.content-overlay th,.content-overlay  td {
	    text-align: left;
	    padding: 8px;
	    color:#000000;
	}

	.content-overlay  tr:nth-child(even){background-color: #f2f2f2}

	.content-overlay  th {
	    background-color: #000000;
	    color: white;
	}
	</style>







<% end %>
