<% content_for :content do %>


	<div class='content-overlay'>
		<h2>Estilos Musicais</h2>


		<table>
			<thead>
				<tr>
					<th>
						ID
					</th>
					<th>
						Nome
					</th>
					<th>
						Ação
					</th>
				</tr>
			</thead>

			<tbody>
			<% @musicas.each do |g| %>
				<tr>
					<td> <%= g.id_musica %></td>
					<td> <%= g.nome %></td>
					<td> 
						<%= link_to "/admin/musicas?id_musica=#{g.id_musica}&acao=editar",:class=>'btn-send' do %>
        					Editar
      					<% end %>
      					 |
      					 <%= link_to "/admin/musicas?id_musica=#{g.id_musica}&acao=apagar",:class=>'btn-send' do %>
        					Apagar
      					<% end %>

					</td>
				</tr>
			<% end %>
				
			</tbody>
		</table>

		<%= link_to "/admin/musicas" do %>
			Novo Registro
		<% end %>






	</div>

	<div class='content-overlay'>
		<%= render 'form_musica' %>
	</div>




	<style>
	.content-overlay table {
	    border-collapse: collapse;
	    width: 100%;
	}

	.content-overlay th,.content-overlay  td {
	    text-align: left;
	    padding: 8px;
	    color:#000000;
	}

	.content-overlay  tr:nth-child(even){background-color: #f2f2f2}

	.content-overlay  th {
	    background-color: #000000;
	    color: white;
	}
	</style>
	<style>
        .content-overlay .field select{
            width: 60%;
            text-align: left;
            display: inline-block;
            padding: 10px 5px;
            border-radius: 5px;
            border: 1px #cccccc solid;
            margin-left: 10px;
        }
    </style>







<% end %>
