<footer class="footer">

	<div class="current">
		<div class="player">
			<audio preload="" src="/assets/musicas/01-dead-wrong-intro.mp3"></audio>
		</div>
	</div>
	<div class="legends">
		<h2>Artista - Música Demo</h2>
	</div>
</footer>