<% content_for :content do %>
<div class="content-overlay">
<h2>Atualizar Cadastro - <%= @user.nome %></h2>
  <%= form_for @user do |f| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                            <div class="alert-error">
                                       O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
                            </div>
                            <ul>
                                       <% @user.errors.full_messages.each do |msg| %>
                                       <li><%= msg %></li>
                                       <% end %>
                            </ul>
                </div>
    <% end %>

                <div class="field">
                <%= f.label :nome %>
                <%= f.text_field :nome %>
                            
                            
                </div>
                <div class="field">
                            <%= f.label :email %>
                            <%= f.email_field :email %>
                </div>
                <div class="field">
                            <%= f.label :idade %>
                            <%= f.text_field :idade %>
                </div>
                <div class="field">
                            <%= f.label :password %>
                            <%= f.password_field :password %>
                </div>
                <div class="field">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation %>
                </div>
                <div class="actions">
                            <%= f.submit "Cadastrar"%>
                            <div class='clearfix'></div>
                </div>
    <% end %>

    </div>

  <% end %>
  



