<% content_for :content do %>
	<div class='content-overlay busca'>
		<h2>Buscar por artista
		<%= form_tag('/busca',method: :get) do -%>

		  <div class='field'>
		  	<select name='id_artista' onchange="Busca.buscarArtista(this)">
				<option value=''>Selecionar Artista</option>
		    	<% @artistas.each  do |a| %>
		    		<option <%= (params[:id_artista].to_i == a.id_artista) ? 'selected="selected"' : '' %> value="<%= a.id_artista %>"><%= a.nome %></option>
		    	<% end%>
		    </select>
		  	
		  </div>

		  <div class='field'>


		  	<select name='id_genero' onchange="Busca.buscarGenero(this)">
				<option value=''>Selecionar Gênero</option>
		    	<% @generos.each  do |g| %>
		    		<option <%= (params[:id_genero].to_i == g.id_genero) ? 'selected="selected"' : '' %> value="<%= g.id_genero %>"><%= g.nome %></option>
		    	<% end%>
		    </select>
		  </div>
		<% end %>

 


	</div>




	<div class="content-overlay">
		<%= render 'resultados'%>
		
	</div>



	<script>
	var Busca = {
		buscarArtista:function buscarArtista(elemento){

			if(elemento.value != ''){
				var url = '/busca?tipo=artista&id_artista='+elemento.value;
				window.location.href = url
			}

			return false;
		},
		buscarGenero:function buscarGenero(elemento){

			if(elemento.value != ''){
				var url = '/busca?tipo=genero&id_genero='+elemento.value;
				window.location.href = url
			}

			return false;
		}

	};
		

		

	</script>
<% end %>
