// Content

.content {
	padding-left: 220px;
    padding-bottom: 130px;
    width: 100%;
}

.albuns {
	padding: 2em 4em;
	//border: 1px solid red;
	
	&__item {
		text-align: center;
		margin-bottom: 30px;
	}

	&__image {
		display: block;
		position: relative;
		background-color: #202020;
		border-radius: 2px;
		overflow: hidden;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}

	&__heart {
		display: block;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 20px;
		cursor: pointer;
		fill: white;
		@include transition(all 0.3 $ease-out);
		&:hover,
		&--favorited {
			fill: #e74c3c;
		}
	}

	&__author {
		padding-top: 10px;
		font-size: 1.3rem;
		color: $title-color;
	}

	&__music {
		font-size: 0.7rem;
		color: $text-color;
	}

}


.sidebar {
  background-color: rgba(184, 56, 93, 0.7);
  padding: 10px;
}

.logo-block {
  padding: 10px;
  margin: 0 auto 20px auto;
  border-bottom: 1px #ffffff solid;
  img {
    display: block;
    margin: 0 auto;
  }
}

.vertical-menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
  }
  li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    i {
      margin-right: 10px;
    }
    &.active {
      background-color: #4CAF50;
      color: white;
    }
    &:hover:not(.active) {
      background-color: #555;
      color: white;
    }
  }
}

.notice {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 25px auto 25px auto;
  padding: 20px;
  color: green;
  font-size: 16px;
}

.content-overlay {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 25px auto 25px auto;
  padding: 20px;
  &.busca {
    select {
      width: 250px;
      font-size: 18px;
      padding: 5px;
    }
    .field input[type=submit] {
      background: #a0a0a0;
      color: #ffffff;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;
    }
  }
  &.favoritas {
    .albuns__author, .albuns__music {
      color: #000000;
    }
  }
  .albuns__music {
    font-size: 1.5rem;
  }
  label {
    width: 25%;
    text-align: right;
    display: inline-block;
  }
  .field {
    margin-bottom: 20px;
    input {
      width: 60%;
      text-align: left;
      display: inline-block;
      padding: 10px 5px;
      border-radius: 5px;
      border: 1px #cccccc solid;
      margin-left: 10px;
    }
  }
  .actions {
    margin-left: calc( 25% + 10px );
    margin-bottom: 10px;
    input[type=submit] {
      border: 0;
      background: #264080;
      padding: 5px 10px;
      color: #ffffff;
      display: inline-block;
      cursor: pointer;
      margin-bottom: 20px;
    }
  }
  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
  }
  .field_with_errors {
    display: inline;
  }
}

#error_explanation {
  background: rgb(250, 156, 180);
  color: #fff;
  border: 1px red solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.audiojs {
  width: 100%;
  height: 40px;
  .scrubber {
    width: 80%;
  }
  .play-pause {
    width: 40px;
  }
}

footer .legends {
  line-height: 51px;
  text-indent: 40px;
}

.block-musica {
  .albuns__image img {
    margin: 0 auto;
    max-width: 100%;
  }
  button {
    background: green;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  .favorite span {
    position: absolute;
    top: 0;
    right: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
  }
}