// Reset

* {
	margin: 0;
	padding: 0;
	font-style: inherit;
	box-sizing : border-box;
}

body,
html {
	font: {
		family: $base-font-family;
		size: $base-font-size;
	}
	color: $base-font-color;
	overflow-x: hidden;
	background: #181818 image-url('burst/01.png') center top no-repeat fixed;
	-webkit-backface-visibility: hidden;
}

a {
	text-decoration: none;
	transition : all 0.2s $ease;
}

input, button, textarea, a {
	outline: none;
}

img {
	border: none;
	display: block;
	max-width: 100%;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

header, footer, nav, aside, section, article {
	display: block;
}

strong {
	font-weight: bold;
}

iframe { display: block; margin: 25px auto; }