// |------------------------------------------------------
// |------------------------------------------------------
// | Variables
// |------------------------------------------------------
// |------------------------------------------------------

// Colours 
$primary-color:						#1DB954;
$title-color: 						#fff;
$text-color: 						#a0a0a0;

// Fonts
$roboto: 							'Roboto';

// Basic
$base-font-family:              	$roboto;
$base-font-size:              		16px; 
$base-font-color:              		$text-color;

// Sizes
$desktop: 							1200px;
$tablet: 							800px;
$mobile: 						    435px;

// Effects
$linear: 							cubic-bezier(0, 0, 1, 1);
$ease: 								cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-in: 							cubic-bezier(0.42, 0, 1, 1);
$ease-out: 							cubic-bezier(0, 0, 0.58, 1);
$ease-in-out: 						cubic-bezier(0.42, 0, 0.58, 1);


